.content {
  width: 90%;
  height: 90%;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  padding: 25px;
  margin-bottom: 30px;
}

h3, button[type="button"] {
  margin-top: 30px;
  margin-bottom: 30px;
}
