<div class="content">

  <h3>Gps x: {{ getPositons()?.x }} | Gps y:{{ getPositons()?.y }}</h3>

  <button *ngIf="!getIsStart()" (click)="start()" type="button" class="btn btn-success">
    Rejestruj drogę
  </button>

  <button *ngIf="getIsStart()" (click)="end()" type="button" class="btn btn-danger">
    Koniec
  </button>

  <div *ngFor = "let gps of getGpsDataList(), let i = index">
    <b>{{ i + 1 }} -> </b>
    <b>X:</b> {{ gps.points.x }}
    <b>Y:</b> {{ gps.points.y }}
    <b>Data:</b> {{ gps.date.date }}
    <b>Czas:</b> {{ gps.date.time }}
  </div>

</div>

<app-counting-down></app-counting-down>
<app-path-recorder-summary (eventName)="sendGpsDataToServer($event)" ></app-path-recorder-summary>
