<div class="modal fade" id="pathRegistratorEnd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div class="form-group">
            <label>Podaj nazwe trasy</label>
            <input #routeName type="text" class="form-control" placeholder="Nazwa trasy">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            <button (click)="sendGpsDataToServer(routeName)" data-dismiss="modal" type="button" class="btn btn-primary">Dodaj</button>
          </div>
      </div>
    </div>
  </div>
</div>
