<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addFavorite">
    Dodaj miejsce
</button>

<div class="modal fade" id="addFavorite" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dadanie ulubionego miejsca</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Podaj nazwę</label>
          <input #newFavoriteName type="text" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        <button (click)="addNewFavorite(newFavoriteName)" type="button" class="btn btn-primary">Dodaj</button>
      </div>
    </div>
  </div>
</div>
