<button (click)="backToPreviousPage()" type="button" class="btn btn-primary map-button">Wroć</button>

<h1>{{ routeCatalogName }} - {{ dateBegin | dateDtoPipe }}</h1>

<div *ngIf="gpsDataList?.length > 0 ; then areRouteDate ; else noRouteDate"></div>

<ng-template #areRouteDate>

  <div class="table">
    <div class="table-responsive col-xs-9 col-md-offset-1" style="padding-top: 30px;">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th *ngFor="let rowName of ['Numer', 'data', 'x', 'y']">
                  {{ rowName }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let gps of gpsDataList ; let i = index">
                  <td>
                    {{ i + 1 }}
                  </td>
                  <td>
                    {{ gps.date | dateDtoPipe }}
                  </td>
                  <td>
                    {{ gps.points.x }}
                  </td>
                  <td>
                    {{ gps.points.y }}
                  </td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</ng-template>

<ng-template #noRouteDate>
    <h2>Brak danych do wywietlenia</h2>
</ng-template>

<div class="map-button">
  <button (click)="centerMapByGpsData()" type="button" class="btn btn-primary">Wysrodkuj</button>
  <button (click)="removePoint()" type="button" class="btn btn-primary">Schowaj</button>
  <button (click)="addPointLayer()" type="button" class="btn btn-primary">Pokaz</button>
</div>

<div id="routeMap" class="map"></div>
