<div class="content">

  <div *ngIf="routeCatalogList?.length > 0 ; then areRouteCatalogs ; else noRouteCatalogs"></div>

  <ng-template #areRouteCatalogs>
    <h1>Trasy: {{routeCatalogList.length}}</h1>
    <div class="table">
        <div class="table-responsive col-xs-9 col-md-offset-1" style="padding-top: 30px;">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th *ngFor="let rowName of ['Numer', 'Nazwa', 'Notatka', 'Edycja', 'Usuń', 'Detale']">
                      {{ rowName }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                <tr *ngFor="let routeCatalog of routeCatalogList ; let i = index">
                    <td>
                      {{ i + 1 }}
                    </td>
                    <td>
                      {{ routeCatalog.name }}
                    </td>
                    <td class="center">
                      <div class="row-note">
                        {{ routeCatalog.note }}
                      </div>
                      <button (click)="editData = routeCatalog" type="button" class="btn btn-info" data-toggle="modal" data-target="#showNoteModal">Więcej</button>
                    </td>
                    <td>
                      <button (click)="editData = routeCatalog" type="button" class="btn btn-info" data-toggle="modal" data-target="#editRouteCatalogModal">Edycja</button>
                    </td>
                    <td>
                      <button (click)="deleteRouteCatalog(routeCatalog.name)" type="button" class="btn btn-danger">Usuń</button>
                    </td>
                    <td>
                      <button [routerLink]="[routeCatalog.name]" type="button" class="btn btn-success">Pokaż detale</button>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
  </ng-template>

  <ng-template #noRouteCatalogs>
    <h2>Brak tras do wywietlenia</h2>
  </ng-template>

  <!-- Modal Edit -->
  <div class="modal fade" id="editRouteCatalogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edycja trasy</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Podaj nową nazwę</label>
            <input #newName type="text" class="form-control" [value]="editData.name" />
          </div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Podaj nową notatke</label>
            <input #newNote type="text" class="form-control" [value]="editData.note" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <button (click)="editRouteCatalog(newName, newNote)" data-dismiss="modal" type="button" class="btn btn-primary">Edytuj</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal note -->
  <div class="modal fade" id="showNoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Notatka</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ editData.note }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
