<div *ngIf="favoriteList?.length > 0 ; then areFavorites ; else noFavorites"></div>

<ng-template #areFavorites>
  <div class="table">
        <div class="table-responsive col-xs-9 col-md-offset-1" style="padding-top: 30px;">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th *ngFor="let rowName of ['Numer', 'Nazwa', 'Dlugosc geo', 'Szerokosc geo', 'Edycja', 'Usun']">
                      {{ rowName }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                <tr *ngFor="let favorite of favoriteList ; let i = index">
                    <td>
                      {{ i + 1 }}
                    </td>
                    <td>
                      {{ favorite.name }}
                    </td>
                    <td>
                      {{ favorite.points.x }}
                    </td>
                    <td>
                      {{ favorite.points.y }}
                    </td>
                    <td>
                      <button (click)="editParam = favorite.name" type="button" class="btn btn-info" data-toggle="modal" data-target="#editFavoriteModal">Edycja</button>
                    </td>
                    <td>
                      <button (click)="deleteFavoite(favorite.name)" type="button" class="btn btn-danger">Usuń</button>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
  </div>
</ng-template>

<ng-template #noFavorites>
  <h2>Brak ulubionych miejsc do wywietlenia</h2>
</ng-template>

<!-- Modal edit -->
<div class="modal fade" id="editFavoriteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edycja ulubionego miejsca</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Podaj nową nazwę</label>
            <input #newFavoriteName type="text" class="form-control" [value]="editParam" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <button (click)="editFavoite(newFavoriteName)" data-dismiss="modal" type="button" class="btn btn-primary">Edytuj</button>
        </div>
      </div>
    </div>
  </div>
