<div class="modal fade" id="pathRegistrator" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h1 id="timeToStart"></h1>
      </div>
    </div>
  </div>
</div>
