<button routerLink="/route" type="button" class="btn btn-primary">Wroć</button>

<div *ngIf="routeList?.length > 0 ; then areRoutes ; else noRoutes"></div>

<ng-template #areRoutes>
  <h1> {{ routeCatalogName }}: {{ routeList.length }} </h1>

  <div class="table">
      <div class="table-responsive col-xs-9 col-md-offset-1" style="padding-top: 30px;">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th *ngFor="let rowName of ['Numer', 'Początek', 'Koniec', 'Pokaż detale']">
                    {{ rowName }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let route of routeList ; let i = index">
                    <td>
                      {{ i + 1 }}
                    </td>
                    <td>
                      {{ route.dateBegin | dateDtoPipe }}
                    </td>
                    <td>
                      {{ route.dateEnd | dateDtoPipe }}
                    </td>
                    <td>
                      <button [routerLink]="['./map', routeCatalogName, route.dateBegin.date, route.dateBegin.time]" type="button" class="btn btn-info">Więcej</button>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
  </div>
</ng-template>

<ng-template #noRoutes>
    <h2>Brak szczegłow</h2>
</ng-template>
