<select [(ngModel)]="selectedFavorite">
  <option *ngFor="let favorite of favoriteList" [ngValue]="favorite">{{ favorite.name }}</option>
</select>

<div class="map-button">
  <button (click)="flyToFavorite()" type="button" class="btn btn-primary">Idz do {{ selectedFavorite?.name }}</button>
  <button (click)="centerMapByGpsData()" type="button" class="btn btn-primary">Wysrodkuj</button>
  <button (click)="removePoint()" type="button" class="btn btn-primary">Schowaj</button>
  <button (click)="addPointLayer()" type="button" class="btn btn-primary">Pokaz</button>
</div>

<div id="favoriteMap" class="map"></div>
